* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lucida Sans Italic';
  src: url('assets/lucidasansitalic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Segoe WP';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe WP'), url('assets/SegoeWP.woff') format('truetype');
}

@font-face {
  font-family: 'Segoe WP light';
  src: url('assets/segoe-wp-light.woff') format('truetype');
}

@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: normal;
  src: url('assets/Asap-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Segoe UI Light';
  src: url('assets/SegoeUI-Light.eot');
  src: url('assets/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/SegoeUI-Light.woff') format('woff'),
    url('assets/SegoeUI-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Regular';
  src: url('assets/SegoeUI.eot');
  src: url('assets/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('assets/SegoeUI.woff') format('woff'),
    url('assets/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: url('assets/SegoeUI-Bold.eot');
  src: url('assets/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/SegoeUI-Bold.woff') format('woff'),
    url('assets/SegoeUI-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


/* Header */

.icons {
  fill: #b99403;
  margin-right: 10px;
}

.header {
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 27px 140px 56px 140px;
}

.logotype {
  width: 83px;
  height: 83px;
}

.heading {
  display: block;
  font-size: 41.05px;
  text-transform: uppercase;
  font-style: italic;
  color: #ffffff;
  font-family: 'Lucida Sans Italic', sans-serif;
  font-weight: normal;
  text-shadow: #000000 0px 1px 0px;
  padding: 11px 0px 0px 5px;
}

.header-container {
  background-image: linear-gradient(to top, rgb(0, 0, 0, 0.3) 0%, transparent 1%), url("assets/header_fon.jpg");
  background-size: 100%;
  height: 566px;
  width: 1300px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;

}

.nav {
  padding-top: 44px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe WP', sans-serif;
  font-size: 16.2px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  list-style: none;
  background-color: #f5c506;
  width: 453px;
  height: 41px;
  box-shadow: -5px -5px 0px 0px rgba(245, 197, 6, 0.27),
    -8px -8px 0px 0px rgba(245, 197, 6, 0.27);
}

.navigation li {
  display: flex;
  justify-content: center;
  border-right: 1px solid #b99403;
  height: 100%;
  align-items: center;
}

.navigation li:first-child {
  width: 173px;
  padding-left: 17px;

}

.navigation li:nth-child(2) {
  width: 132px;
  padding-right: 4px;
}

.navigation li:last-child {
  width: 147px;
  border: 0;
  padding-right: 4px;
}

.navigation li a {
  color: #b99403;
  text-decoration: none;
  font-weight: bold;
}

.navigation li a:hover {
  color: #ffffff;
}

/* Slider */

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  width: 1300px;
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1020px;
}

.slider-title {
  font-size: 60px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.slider-navigation li {
  width: 32px;
  height: 57px;
  background: #c59f0b;
  line-height: 65px;
  text-align: center;
  list-style-type: none;
}

.slider-navigation li:nth-child(2) {
  padding-left: 5px;
  background: #f5c506;
}


.slider-arrow {
  fill: #ffffff;
}

.wrapper {
  display: flex;
}

.slider-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 132px;
  width: 100%;
}

.video-slider {
  width: 550px;
  height: 327px;
}

.video-conrtainer-1300 {
  display: block;
  padding-left: 10px;
}

.video-conrtainer-640 {
  display: none;
}

.title-slider {
  font-family: "Asap", sans-serif;
  display: block;
  padding: 0px 15px 30px 0px;
  line-height: 75px;
}

.slider-title-main {
  color: #f5c506;
  padding-left: 40px;
  letter-spacing: -1px
}

/* Fratures section */

.features {
  width: 1300px;
  height: 212px;
  background: url('assets/fon2.png');
  margin: 0 auto;
  box-shadow:
}

.features-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1021px;
  margin: 0 auto;
}

.features-item {
  display: inline-block;
  text-align: center;

  border-left: 1px solid #d3d3d3;
  width: 340px;
  height: 212px;
  font-family: 'Segoe UI Light';
  font-size: 27px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.features-item:first-child {
  width: 341px;
}

.features-item:nth-child(2) {
  width: 340px;
}

.features-item:last-child {
  width: 341px;
}

.features-item:first-child p {
  padding: 1px 0px 0px 23px;
}

.features-item:nth-child(2) p {
  padding: 0px 2px 0px 0px;
}


.features-item:last-child p {
  padding: 0px 0px 0px 5px;
}


.features-item:first-child {
  padding: 61px 5px 0px 0px;
  line-height: 37px;
  letter-spacing: 0.3px;
}

.features-item:nth-child(2) {
  padding: 37px 0px 0px 23px;
  line-height: 42px;
  letter-spacing: 0.3px;

}

.features-item:last-child {
  padding: 54px 20px 0px 0px;
  line-height: 37px;
  letter-spacing: 0.3px;
  border-right: 1px solid #d3d3d3;
}

/* News section */

.heading-2 {
  font-size: 37px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  padding: 31px 1px;
}

.news-container {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.3) 0%, transparent 1%), url("assets/fon3.png");
  background-size: 100%;
  height: 508px;
  width: 1300px;
  margin: 0 auto;
}

.space {
  display: none;
}

.news {
  width: 1022px;
  margin: 0 auto;
}

.news-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1022px;
  margin: 0 auto;
  height: auto;
}

.news-item {
  display: flex;
  width: 665px;
  flex-wrap: wrap;
  height: auto;
}

.news-content {
  position: relative;
  width: 341px;
  background: #ec9e03;
  font-family: 'Segoe UI Light', sans-serif;
  font-size: 29px;
  color: #ffffff;
  font-weight: normal;
  padding: 16px 0px 0px 30px;
  letter-spacing: 0.3px;
  line-height: 38px;
  height: 233px;
}

.media-news {
  width: 318px;
  height: 232px;
}



.date {
  width: 113px;
  height: 86px;
  background: #ddb101;
  font-family: 'Segoe UI Regular', sans-serif;
  color: #b26529;
  font-size: 20.8px;
  text-align: left;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 0.5px;
  padding: 22px 29px;
}

.date_day {
  font-size: 50px;
  color: #ffffff;
  font-family: 'Segoe UI Bold', sans-serif;
  font-weight: bold;
  padding: 0px 1px;
}

.date_month {
  padding: 9px 3px;
}

.plus-1 {
  position: absolute;
  fill: #ffffff;
  opacity: 0.7;
  bottom: 13px;
  right: 14px;
}

.news-text-640 {
  display: none;
}

.video-news {
  height: 232px;
}

/* Twitter section */

.news-item-twitter {
  background: #ec9e03;
  margin-right: 3px;
  position: relative;
  width: 329px;
  height: 233px;
  background-image: url(assets/twitter.png);
  background-repeat: no-repeat;
  background-position: 76px 58px;
}


.twitter {}

.date-second {
  text-align: right;
  padding: 15px 18px;
  color: #ffffff;
  font-family: 'Segoe WP Light', sans-serif;
  font-size: 24.5px;
}

.plus-2 {
  position: absolute;
  fill: #ffffff;
  opacity: 0.7;
  bottom: 13px;
  right: 10px;
}

.twitter-chat {
  display: none;
}


/* Styling input type range */

.range {
  padding: 43px 74px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 895px;
  height: 15px;
  margin: 0px 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  border: 0;
}

input[type=range]::-webkit-slider-thumb {
  border: 0;
  height: 15px;
  width: 195px;
  border-radius: 50px;
  background: #ec9e03;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.3);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  border: 0;
}

input[type=range]::-moz-range-thumb {
  border: 0;
  height: 15px;
  width: 195pxpx;
  border-radius: 50px;
  background: #ec9e03;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #b3b3b3;
  border: 0;
  border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  border-radius: 50px;
}

input[type=range]::-ms-thumb {
  border: 0;
  width: 195px;
  border-radius: 50px;
  background: #ffe131;
  cursor: pointer;
  height: 11px;
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.3);
}

input[type=range]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.3);
}

/* Section benefit_container */

.heading-3 {
  grid-area: a;
  font-size: 43.5px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #f5c506;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 35px 0px 0px 4px;
  width: 1021px;
  height: 35px;
}

.benefit-wrapper {
  width: 1300px;
  margin: 0 auto;
  background: #4c4c4c;
  background-image: linear-gradient(to top, rgb(0, 0, 0, 0.7) 0%, transparent 1.5%), url("assets/fon4.png");
  height: 497px;
}

.benefit_container {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  width: 1035px;
  grid-template-areas: "a a"
    "b c";
  height: 497px;
}

.pic {
  grid-area: b;
  width: 598px;
  height: 349px;
  background-image: url(assets/itsfree.png);
  background-repeat: no-repeat;
  background-position: 3px 0px;
}

.benefit {
  grid-area: c;
  width: 435px;
  padding: 96px 0px 0px 47px;
}


.benefit-items li {
  display: flex;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  width: auto;
  color: #a9a9a7;
}

.benefit-items li::before {
  content: "";
  color: #f5c506;
  font-weight: bold;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #f5c506;
  border-radius: 50% 50% 50% 50%;
}

.benefit-items li:first-child::before {
  margin-right: 19px;
}

.benefit-items li:first-child p {
  line-height: 10px;
  letter-spacing: 0.65px;
  font-size: 21px;
  height: 50px;
  padding: 2px 0px;
}


.benefit-items li:nth-child(2)::before {
  margin-right: 19px;
}

.benefit-items li:nth-child(2) p {
  margin-top: -10px;
  line-height: 26.5px;
  letter-spacing: 0.7px;
  font-size: 21px;
  height: 76px;
  padding: 2px 0px;
}

.benefit-items li:nth-child(3)::before {
  margin-right: 19px;
}

.benefit-items li:nth-child(3) p {
  margin-top: -10px;
  line-height: 27px;
  letter-spacing: 0.7px;
  font-size: 21px;
  height: 61px;
  padding: 2px 0px;
}

.benefit-items li:last-child::before {
  margin-right: 19px;
}

.benefit-items li:last-child p {
  margin-top: -10px;
  line-height: 26.5px;
  letter-spacing: 0.7px;
  font-size: 21px;
  height: 50px;
  padding: 2px 0px;
}

.word-omnis {
  letter-spacing: -0.8px;
}

/* Footer */

.footer {
  margin: 0 auto;
  background: #4c4c4c;
  width: 1300px;
  height: 64px;
}

.logo-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1030px;
  margin: 0 auto;
  padding: 1px 0px 0px 4px;
}

.hedding-footer {
  display: block;
  font-size: 29.35px;
  text-transform: uppercase;
  font-style: italic;
  color: #ffffff;
  font-family: 'Lucida Sans Italic', sans-serif;
  font-weight: normal;
  text-shadow: #000000 0px 1px 0px;
  padding: 3px 0px 0px 5px;

}

.footer_container {
  width: 1030px;
  margin: 0 auto;
}

.logotype-footer {
  margin: 4px 0px 2px 0px;
  padding: 0px;
  width: 55px;
  height: 56px;
}

@media screen and (max-width: 640px) {

  /* Header 640px */


  .header {
    display: flex;
    max-width: 640px;
    justify-content: space-between;
    margin: 0 auto;
    height: 62px;
    align-items: center;
    padding: 0px 0px 0px 0px;
    /* Permalink - use to edit and share this gradient */
    background: #626262;
    /* Old browsers */
    background: -moz-linear-gradient(top, #626262 0%, #464646 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #626262 0%, #464646 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #626262 0%, #464646 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#626262', endColorstr='#464646', GradientType=0);
    /* IE6-9 */
  }

  .logotype {
    width: 40px;
    height: 40px;
  }

  .heading {
    display: block;
    font-size: 20px;
    letter-spacing: 0px;
    padding: 5px 0px 0px 5px;
  }

  .header-container {
    background: 0;
    height: auto;
    width: 640px;
    margin: 0 auto;
  }

  .logo {
    display: flex;
    align-items: center;
    width: 186px;
    padding-left: 12px
  }

  .nav {
    padding-top: 0px;
  }

  .icons {
    fill: #b99403;
    margin-right: 11px;
    width: 24px;
    height: 22px;
  }

  .navigation {
    font-size: 18.5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #f5c506;
    width: 454px;
    height: 63px;
    box-shadow: none;
  }

  .navigation li {
    display: flex;
    justify-content: flex-start;
    border-right: 1px solid #b99403;
    height: 100%;
    align-items: center;
  }

  .navigation li:first-child {
    width: 158x;
    padding-left: 23px;

  }

  .navigation li:nth-child(2) {
    width: 134px;
  }

  .navigation li:nth-child(2) .icons {
    margin: 0px 6px 0px 8px;
  }

  .navigation li:last-child {
    width: 151px;
    border: 0;
    padding-left: 13px;
  }

  .navigation li:last-child .icons {
    width: 28px;
    height: 22px;
  }

  .navigation li a {
    color: #b99403;
    text-decoration: none;
    font-weight: bold;
  }

  .navigation li a:hover {
    color: #ffffff;
  }

  /* Slider 640 */

  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 640px;
  }

  .slider-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 640px;
  }

  .slider-arrow {
    display: none;
  }

  .wrapper {
    display: flex;
  }

  .slider-navigation {
    display: none;
  }

  .video-slider {
    width: 640px;
    height: 327px;
  }

  .shadow {
    position: absolute;
    width: 640px;
    height: 327px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.3) 0%, transparent 1%);
  }

  .video-conrtainer-1300 {
    display: none;
  }

  .video-conrtainer-640 {
    display: block;
    padding-left: 0px;
    height: 327px;
  }

  .title-slider {
    display: none;
  }

  /* Fratures section 640px */

  .features {
    width: 640px;
    height: 179px;
    background: url(assets/fon2.png);
    box-shadow: 0;
    position: relative;
    z-index: 10;
    top: -9px;
    padding-top: 13px;
  }

  .features-wrapper {
    justify-content: flex-start;
    width: 640px;
  }

  .features-item {
    border: 0;
    height: 169px;
    font-size: 23px;
  }

  .shape2 {
    width: 89px;
  }

  .shape3 {
    width: 67px;
  }

  .shape4 {
    width: 68px;
  }

  .features-item:first-child {
    width: 241px;
    padding: 30px 36px 0px 0px;
    line-height: 37px;
    letter-spacing: 0.3px;
  }

  .features-item:first-child p {
    padding: 5px 0px 0px 12px;
  }

  .features-item:nth-child(2) {
    width: 240px;
    padding: 25px 0px 0px 15px;
    line-height: 37px;
    letter-spacing: 0.3px;
  }

  .features-item:nth-child(2) p {
    padding: 0px 0px 0px 0px;
  }

  .features-item:last-child {
    width: 241px;
    padding: 25px 7px 0px 0px;
    line-height: 37px;
    letter-spacing: 0.3px;
    border-right: 0;
  }

  .features-item:last-child p {
    padding: 0px 0px 0px 11px;
  }

  /* News section 640px */

  .heading-2 {
    display: none;
  }

  .news-container {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.3) 0%, transparent 1%), url("assets/fon3.png");
    background-size: 100%;
    height: auto;
    width: 640px;
    margin: 0 auto;
  }

  .news {
    width: 640px;
    margin: 0 auto;
  }

  .news-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 640px;
    margin: 0 auto;
    height: auto;
  }

  .space {
    display: block;
    width: 9px;
    background: #ffffff;
  }

  .news-item {
    display: flex;
    width: 640px;
    padding: 1px 9px 9px 9px;
    height: auto;
    background: #ffffff;
  }

  .news-content {
    position: relative;
    width: 299px;
    background: #ec9e03;
    font-family: 'Segoe UI Light', sans-serif;
    font-size: 29px;
    color: #ffffff;
    font-weight: normal;
    padding: 16px 20px 0px 21px;
    letter-spacing: 0.3px;
    line-height: 33.5px;
    height: 232px;
    margin-top: 1px;
  }

  .news-text {
    display: none;
  }

  .news-text-640 {
    display: block;
    margin-left: 5px;
  }

  .media-news {
    width: 314px;
    height: 230px;
  }

  .date {
    display: none;
  }

  .plus-1 {
    position: absolute;
    fill: #ffffff;
    opacity: 0.7;
    bottom: 18px;
    right: 12px;
  }

  .video-news {
    height: 232px;
  }

  /* Twitter section 640px */

  .news-item-twitter {
    display: flex;
    margin-right: 3px;
    position: relative;
    width: 640px;
    height: 233px;
    background: #f5c507;

  }

  .twitter {
    width: 337px;
    background-repeat: no-repeat;
    background-image: url(assets/twitter.png);
    background-position: 76px 57px;
  }

  .date-second {
    display: none;
  }

  .plus-2 {
    display: none;
  }

  .twitter-chat {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.05px;
    color: #8f8e8e;
    letter-spacing: 0.1px;
    width: 329px;
    height: 233px;
  }

  .twit-new {
    width: 284px;
    height: 80px;
    background: url(assets/tweet-new.png);
    background-repeat: no-repeat;
    background-position: 0px 24px;
  }

  .twit-old {
    width: 284px;
    height: 55px;
    background: url(assets/tweet-old.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
  }

  .tweet-message-new {
    padding: 31px 0px 0px 28px;
  }

  .tweet-message {
    padding: 7px 0px 0px 28px;
  }

  form {
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  input[type="tweet"] {
    outline: none;
    border: 1px solid #d0a806;
    padding: 5px 3px 5px 30px;
    margin: 1px 12px;
    display: block;
    width: 272px;
    height: 31px;
    background: #fff;
    border-radius: 12px;
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.27);
  }

  button[type="submit"] {
    position: absolute;
    top: 2px;
    right: 13px;
    z-index: 9;
    outline: none;
    border: none;
    display: inline-block;
    background: #d08f0c;
    background: linear-gradient(to bottom, #eaa927 0%, #d08f0c 100%);
    color: #fff;
    padding: 0px 3px 0px 0px;
    width: 69px;
    height: 30px;
    font-size: 15px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background: #f00;
  }

  /* Range */

  .range {
    display: none;
  }

  /* Section benefit_container */

  .heading-3 {
    grid-area: a;
    font-size: 39px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #f5c506;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    padding: 31px 0px 0px 18px;
    width: 640px;
    height: 35px;
  }

  .benefit-wrapper {
    width: 640px;
    margin: 0 auto;
    background: #4c4c4c;
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.7) 0%, transparent 1.5%), url("assets/fon4.png");
    height: 466px;
  }

  .benefit_container {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    width: 640px;
    grid-template-areas: "a a"
      "b b";
    height: 466px;
  }

  .benefit {
    display: none;
  }

  .pic {
    grid-area: b;
    width: 592px;
    height: 322px;
    background-image: url(assets/itsfree-640.png);
    background-repeat: no-repeat;
    background-position: 3px 25px;
  }

  /* Footer */

  .footer {
    margin: 0 auto;
    background: #4c4c4c;
    width: 640px;
    height: 43px;
  }

  .logo-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 640px;
    margin: 0 auto;
    padding: 0px 0px 0px 63px;
  }

  .hedding-footer {
    font-size: 16.5px;
    letter-spacing: 0px;
    padding: 5px 0px 0px 5px;

  }

  .footer_container {
    width: 640px;
    margin: 0 auto;
  }

  .logotype-footer {
    margin: 5px 2px 1px 0px;
    padding: 0px;
    width: 35px;
    height: 33px;
  }

}