* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lucida Sans Italic';
  src: url('assets/lucidasansitalic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Segoe WP';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe WP'), url('assets/SegoeWP.woff') format('woff');
}

@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: normal;
  src: url('assets/Asap-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Segoe UI Light';
  src: url('SegoeUI-Light.eot');
  src: url('SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
    url('SegoeUI-Light.woff') format('woff'),
    url('SegoeUI-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  background: url(/assets/header_fon.jpg);
  background-size: 100%;
  height: 566px;
  width: 1300px;
  margin: 0 auto;
}

.icons {
  fill: #b99403;
  margin-right: 10px;
}

.header {
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 27px 140px 56px 140px;
}

.heading-container {}

.heading {
  display: block;
  font-size: 41.05px;
  text-transform: uppercase;
  font-style: italic;
  color: #ffffff;
  font-family: 'Lucida Sans Italic', sans-serif;
  font-weight: normal;
  text-shadow: #000000 0px 1px 0px;
  padding: 11px 0px 0px 5px;
}

.logo {
  display: flex;
  align-items: center;

}

.nav {
  padding-top: 44px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe WP', sans-serif;
  font-size: 16.2px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  list-style: none;
  background-color: #f5c506;
  width: 453px;
  height: 41px;
  box-shadow: -5px -5px 0px 0px rgba(245, 197, 6, 0.27),
    -8px -8px 0px 0px rgba(245, 197, 6, 0.27);
}

.navigation li {
  display: flex;
  justify-content: center;
  border-right: 1px solid #b99403;
  height: 100%;
  align-items: center;
}

.navigation li:first-child {
  width: 173px;
  padding-left: 17px;

}

.navigation li:nth-child(2) {
  width: 132px;
  padding-right: 4px;
}

.navigation li:last-child {
  width: 147px;
  border: 0;
  padding-right: 4px;
}

.navigation li a {
  color: #b99403;
  text-decoration: none;
  font-weight: bold;
}

.navigation li a:hover {
  color: #ffffff;
}


.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  width: 1300px;
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1020px;
}

.slider-title {
  font-size: 60px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.slider-navigation li {
  width: 32px;
  height: 57px;
  background: #c59f0b;
  line-height: 65px;
  text-align: center;
  list-style-type: none;
}

.slider-navigation li:nth-child(2) {
  padding-left: 5px;
  background: #f5c506;
}


.slider-arrow {
  fill: #ffffff;
}



.wrapper {
  display: flex;
}

.slider-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 132px;
  width: 100%;
}

.video-slider {
  width: 550px;
  height: 327px;
}

.video-conrtainer {
  display: block;
  padding-left: 10px;
}

.title-slider {
  font-family: "Asap", sans-serif;
  display: block;
  padding: 0px 15px 30px 0px;
  line-height: 75px;
}

.slider-title-main {
  color: #f5c506;
  padding-left: 40px;
  letter-spacing: -1px
}

.features {
  width: 1300px;
  height: 212px;
  background: url('assets/fon2.png');
  margin: 0 auto;
}

.features-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1020px;
  margin: 0 auto;
}

.features-item {
  display: inline-block;
  text-align: center;
  
  border-left: 1px solid #d3d3d3;
  width: 340px;
  height: 212px;
  font-family: 'Segoe UI Light';
  font-size: 27px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.features-item:first-child p {
  padding: 1px 0px 0px 23px;
}

.features-item:nth-child(2) p {
  padding: 0px 2px 0px 0px;
}


.features-item:last-child p {
  padding: 0px 0px 0px 5px;
}


.features-item:first-child {
  padding: 61px 6px 0px 0px;
  line-height: 37px;
  letter-spacing: 0.3px;
}
.features-item:nth-child(2) {
  padding: 37px 0px 0px 22px;
  line-height: 42px;
  letter-spacing: 0.3px;

}

.features-item:last-child {
 padding: 54px 20px 0px 0px;
 line-height: 37px;
 letter-spacing: 0.3px;
  border-right: 1px solid #d3d3d3;
}